[Unit]
Description=schitaytesami.The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/www/sami/schitaytesami.live/var/log/pid.nginx
WorkingDirectory=/var/www/sami/schitaytesami.live
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx -c nginx.conf -p .
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
